/* main animation styles */

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media print, (prefers-reduced-motion: reduce) {
  .animate__animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }

  .animate__animated[class*='Out'] {
    opacity: 0;
  }
}

/* animations */

.animate_fadeInUp {
  animation-name: customizedFadeInUp;
}

@keyframes customizedFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate_fadeInDown {
  animation-name: customizedFadeInDown;
}

@keyframes customizedFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate_fade_text {
  animation: 0.4s fade_text linear both;
}

@keyframes fade_text {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate_fadeIn_text {
  animation: 0.4s fadeIn_text cubic-bezier(0.4, 0, 0.94, 0.03) both;
}

@keyframes fadeIn_text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
